version: '3.8'

services:
  app:
    build: .
    container_name: khalif_alquran 
    restart: no
    ports:
      - "8086:8086" 
    env_file:
      - .env
    environment:
      - PORT=8086
      

      - DB_HOST=khalif_db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=khalif_alquran
      - DB_PORT=5432
      - SSL_MODE=disable


      - REDIS_ADDR=khalif_redis:6379
    networks:
      - khalif_net


networks:
  khalif_net:
    external: true
    name: khalif_network